@model List<Party>





<div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-header">
                <h5>Party</h5>

            </div>
            <div class="card-block">

                <div class="container-fluid">
                   
                    <div class="row">
                        <div class="col-md-4">
                            <b>All Parties</b>
                            <input type="text" id="allparties" readonly />
                        </div>
                        <div class="col-md-4">
                            <b>To Collect</b>
                            <input type="text" id="totalToCollect" readonly />
                        </div>
                        <div class="col-md-4">
                            <b>To Pay</b>
                            <input type="text" id="totaltopay" readonly />
                        </div>
                    </div>
                </div>
                <br />
                <hr />

                <div class="row mt-3">
                    <div class="col-md-3">
                        <input type="text" placeholder="Search here..." style="width:50%" id="search" />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" onclick="searchparties()" value="Search" class="btn btn-dark" />
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="Party" asp-action="AddParties"><input type="submit" value="Create Party" class="btn btn-primary" /></a>
                    </div>
                </div>
                <hr />
                <div class="row mt-5">
                    <table class="table table-bordered table-hover">
                        <thead >
                            <tr>
                                <th scope="col">Party Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Mobile Number</th>
                                <th scope="col">Party type</th>
                                <th scope="col">Balance</th>
                            </tr>
                        </thead>
                        <tbody id="tabledata">
                            @foreach (var d in Model)
                            {
                                <tr>
                                    <td>@d.PartyName</td>
                                    <td>@d.PartyCategory</td>
                                    <td>@d.PhoneNumber</td>
                                    <td>@d.PartyType</td>
                                    <td>@d.OpeningBalance</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>



    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/doc.js"></script>