@model List<PurchaseViewModel>




<div class="card">
    <div class="card-header">
        <h5>Purchase DayBook</h5>

    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Invoice ID</th>
                        <th scope="col">Invoice Date</th>
                        <th scope="col">Party Name</th>
                        <th scope="col">Purchase Price</th>
                        <th scope="col">GSTIN Number</th>
                    </tr>
                </thead>
                <tbody id="salesTableBody">
                    @foreach (var purchase in Model)
                    {
                        <tr>
                            <td>@purchase.PurchaseOrderId</td>
                            <td>@purchase.InvoiceDate</td>
                            <td>@purchase.PartyName</td>
                            <td>@purchase.PurchaseAmount</td>
                            <td>@purchase.GSTINNumber</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>





