@model List<SalesViewModel>

<div class="card">
    <div class="card-header">
        <h5>Sales DayBook</h5>
        
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Invoice ID</th>
                        <th scope="col">Party Name</th>
                        <th scope="col">Sales Price</th>
                        <th scope="col">GSTIN Number</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody id="salesTableBody">
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td>@s.InvoiceId</td>
                            <td>@s.PartyName</td>
                            <td>@s.SalesPrice</td>
                            <td>@s.GSTINNumber</td>
                            <td>@s.Status</td>
                        </tr>
                    }
                </tbody>
               
            </table>
        </div>
    </div>
</div>


