@model List<Inventory>


<div class="row">
    <div class="col-sm-12">

        <div class="card">
           
            <div class="card-block">

                <div class="d-flex justify-content-between">
                   
                    <a class="btn btn-primary" asp-action="AddItems" asp-controller="Inventory">Create Item</a>
                </div>

              <br />
                    <div class="card-header">
                        <h5>Item</h5>

                       
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table id="inventoryTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Item Code</th>
                                        <th scope="col">Stock QTY</th>
                                        <th scope="col">Selling Price</th>
                                        <th scope="col">Purchase Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model)
                                    {
                                        <tr id="itemRow-@d.id">
                                            <th scope="row">@d.ItemName</th>
                                            <td>@d.ItemCode</td>
                                            <td>@d.OpeningStock</td>
                                            <td>@d.SalesPrice</td>
                                            <td>@d.PurchasePrice</td>
                                            <td>
                                                <button class="btn btn-sm btn-danger" onclick="deleteItem('@d.id')">Delete</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
              


            </div>
        </div>

    </div>
</div>








<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/doc.js"></script>